body {
  margin-left: auto;
  margin-right: auto;
}

img{
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}


.debug{
  outline: 1px solid red;
}

.grid {
  &.row {

    &:before {
      content: "";
      display: table;
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &.column {
    width: 100%;
  }
}

/*Tablet View*/
@media (min-width: 768px) {
  body {
    max-width: 778px;
  }
  .grid{
    &.column{
      float: left;
      padding: 0px 7px 17px;

      &.md-one-half{
         width: 50%;
      }
    }
  }
}
/*Desktop View*/
@media (min-width: 1024px){
  body{
    max-width: 1200px;
  }
  .grid {
    &.column {

      &.lg-one-fourth {
        width: 25%;
      }
    }
  }
}
